
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    position: relative;
    width: 100%;
    height: 70px;
    background: rgb(225, 232, 250); 
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

 .logo img {
    
    width: 300px;
    height: auto;
    margin-left: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
}

nav ul li {
    margin-right: 15px; 
}

nav ul a {
    text-decoration: none;
    color: black;
    font-weight:500;
}
nav a.active {
    border-bottom: 2px solid #3498db; 
    color: #3498db; 
}

nav ul li :hover{
    color:#3498db;
}


.contact {
    font-family: 'Montserrat', sans-serif;
    padding: 3%;
    background-color: white;
    color: black;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    white-space: nowrap;
}


.hero-section {
    background-image: url('finalstudents.jpg'); 
    background-size: cover;
    background-position: center;
    height: 70vh; 
    display: flex;
    align-items: center; 
    justify-content: left; 
    
}

.hero-content {
    text-align: left; 
    color: white; 
    margin-left: 100px; 
    margin-top: 90px;
    font-size: 2em; 
    font-weight: bold;
    margin-bottom:-30px;
}

.hero-apply{
    text-align: left; 
    color: white;
    margin-top: 0px; /*Check for effect when deleted*/
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 2.5%;
    background-color: rgb(32, 52, 115);
    border: none;
    border-radius: 7px;
    cursor: pointer;
    white-space: nowrap;
    font-size: 17px;
  
}

.hero-apply a{
    text-decoration: none;
    color:white;
}


.separator {
    border: 10px solid rgb(225, 232, 250);
    padding: 0;
    margin: 0;
}

.separator2{
    border: 10px solid 	rgb(52, 76, 120);
    padding: 0;
    margin: 0;

}

.separator3{
    border: 1px solid 	rgb(44, 45, 49);
    padding: 0;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 90px;
}

.separator3-5{
    border: 1px solid 	rgb(44, 45, 49);
    padding: 0;
    margin-left: 200px;
    margin-right: 200px;

}

/*About Us Section*/
.about-container {  
    text-align: center;
    margin: 77px;
}

.about-container h2 {
    font-size: 30px; 
    margin-bottom: 10px; 
    color:rgb(32, 52, 115);
}

.about-container p {
    font-size: 16px; 
    color: black;
    
}

.about-container a{
    font-size: 16px;
    color: rgb(32, 52, 115);
    text-decoration: none;
}


.programs-section {
    background-color: rgb(237, 240, 245); 
    padding: 20px; 
    text-align: center;
    margin-top: 100px;
 
}

.programs-section-content {
    color: white;    
}

.programs-section-content a{
    text-decoration: none;
    color:rgb(32, 52, 115);
}

.programs-section-content :hover{
    color:rgb(228, 186, 148);
}

.programs-section-content h2 {
    font-size: 24px;
    padding-left: 15px ;
    margin-top: 60px;
    margin-bottom: 10px;
    text-align: left;
    color: rgb(32, 52, 115);
}



.short-courses-container {
    display: flex;
    margin-bottom:50px;
}

.box {
    margin: 10px;
    overflow: hidden; 
    transition: transform 0.3s ease;
}

.box:hover {
    transform: scale(1.1);
}

.heading-section1 {
    background-color: rgb(228, 186, 148); 
    padding: 3px;
    text-align: left;
    color: #ffffff; 
    height: 60px; 
    width: 273px;
    font-size: 15px;
    padding-left: 14px;  
}
.heading-section1 a{
    text-decoration: none;
    color:#ffffff;
}

.heading-section2{
    background-color: rgb(228, 186, 148); 
    padding: 5px;
    text-align: left;
    color: #ffffff; 
    height: 80px; 
    width: 273px;
    
    font-size: 15px;
    padding-left: 14px;
}
.heading-section2 a{
    text-decoration: none;
    color:#ffffff;
}


.info-section1 {
    background-color: white; 

    padding-right:17px;
    padding-top:9px;
    padding-bottom:9px;

    text-align: left;
    color: #000000; 
    margin-right: 15px;
    height: 150px;
    width: 273px;
    
}

.info-section2 {
    background-color: white; 
    
    text-align: left;
    margin-right: 15px;

    padding-right:17px;
    padding-top:9px;
    padding-bottom:9px;
 
    color: #000000; 
    height: 125.9px;
    width: 280px;
}



.events{
    margin-left: 100px;
    margin-right: 100px;
    margin-top:50px ;
    background-color: rgb(51, 74, 115);
    padding-left: 48px;
    padding-top: 50px;
    padding-bottom:35px;
}


.events-heading {
    text-align: left; 
    color: white; 
    font-size: 25px; 
    font-weight: bold;
    line-height: 0.6;
}

.events-info{
    color:rgb(63, 158, 188);
    font-size:18px;
    font-weight: bold;
    line-height: 0.4;
}


.events-button{
    text-align: center; 
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 8.5px;
    padding-right:25.5px;
    padding-left:25.5px;
    background-color: rgb(145, 161, 177);
    border: none;
    cursor: pointer;
    white-space: nowrap;
    font-size: 14px;

    align-self: flex-start; 
    margin-right: 55px; 
    margin-top: -45px;
}

.events-button a{
    text-decoration:none;
    color:white;
}

.events-button-container {
    display:flex;
    justify-content:flex-end;

    align-items: flex-start;

}


.join-container{
    text-align: center;
    margin: 200px;
}

.join-heading{
    font-size: 30px; 
    margin-bottom: 10px; 
    color:rgb(32, 52, 115);

}

.join-brief{
    font-size: 16px; 
    color: black;

    margin-bottom:-110px;
}



.next2-picture1 {
    background-color: rgb(250, 247, 238);
    width: 527.5px;
    height: 200px;
    display: flex;
    margin-left: 100px;
    margin-top: 50px;
  }
  
  .next2-heading {
    color: rgb(154, 144, 91);
    font-size: 21px;
    margin-left: 20px;
    padding: 5px;
    white-space: nowrap;
    text-align: left;
  }
  
  .next2-info1 {
    font-size: 16px;
    color: black;
    margin-top: 65px; 
    margin-left: -210px; 
    padding: 5px;
    text-align: left;
  }
  
  .next2-info2 {
    font-size: 16px;
    color: black;
    margin-top: 59px; 
    margin-left: -158px; 
    padding: 5px;
    text-align: left;
  }

  .next2-picture2 {
    background-color: rgb(250, 247, 238);
    width: 522x;
    height: 200px;
    display: flex;
    margin-left: 100px;
    margin-top: 0px;  /*Check if can do without*/
  }


  .view-courses{
    margin-top: 135px;
    margin-left: -465px;

    text-align: center; 
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 8.5px;
    padding-right:25.5px;
    padding-left:25.5px;
    background-color: rgb(36, 35, 31);
    border: none;
    cursor: pointer;
    white-space: nowrap;
    font-size: 14px;
  }

  .view-courses a{
    text-decoration: none;
    color:white;
  }
 

.picture-next2 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    margin-right: 95px;
    margin-top: -400px;
      
}

.picture-next2 img {
  width: 540px;
  height: 400px;
}



.footer-container{
    margin-top: 180px;
    background-color: rgb(36, 54, 116);
    height: 470px;

    margin-bottom:10px;   
}
.footer-container2{
    margin-top:-155px;
    background-color: rgb(36, 54, 116);
    height: 470px;

    margin-bottom:10px;   

}

.logo2{
    width: 300px;
    height: auto;
    margin-left: 60px;
    margin-top: 130px;
}



.no-bullets{
    list-style-type: none;
    font-size: 16px;
    color:white;
    line-height: 0.5;
}

.no-bullets li {
    margin-bottom: 10px;
    padding: 4px;
    margin-left: -45px;
}



.inend-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: -120px;
    margin-right:35px;
}

.inend-container2 {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: -10px;
    margin-right:255px;
    gap:50px;
}



.aca,
.admi,
.res,
.thedep,
.phone-email,
.loca {
    flex:auto;
    margin: 0px;
    padding: 9px;
    border: none;  
   
    max-width: max-content;
    color: white;
    white-space: nowrap;
}
.aca a,
.admi a,
.res a,
.thedep a{
    text-decoration: none;
    color:white;
}

.aca a:hover,
.admi a:hover,
.res a:hover,
.thedep a:hover {
    color: #ddd; 
}


.endof-aca,
.endof-admi,
.endof-dep,
.endof-res,
.endof-phone,
.endof-loca
{
    font-size: 18px;
    color: white;
    
}


/*About Us Page*/
.aboutpic-container {
    max-width: 100%;
    height: 100%;
    max-height: 510px;
    overflow: hidden;
   
}

.about-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-center-container{
    display: flex;  
}

.text-center-h2{
    font-size:40px;
    text-align:left;
    color:rgb(27, 27, 59);
    
    margin-top: 100px;
    margin-left:200px;
}

.text-center-h2:hover {
    color: rgb(228, 185, 150);
}

.text-center-p{
    font-size: 22.5px;
    text-align: left;
    justify-content: center;
    align-items: center;

    margin-left: 200px;
    margin-right: 200px;
}


.sidepic-pic {
    max-width: 35%;
    width: auto;
    height: 35%;   
}

.sidepic-container {
    display: flex;
    flex-direction: row; /* Change to row to align side by side */
    overflow: hidden;
    
    margin-bottom: 70px;
    gap: 30px;
    margin-left: 40px;
    margin-right:40px;
    margin-top:100px;
    justify-content: center;
}


.sidepic-text-h2{
    font-size: 21px;
    margin-left:200px;
    margin-right:200px;
}
.sidepic-text-p{
    font-size:17px;
    margin-left:200px;
    margin-right:200px;
}


.sidepic-text-container {
    display: flex;
    margin-bottom: 100px;
}

/*Undergraduate, Graduate, Catalog, Short Courses, Resources */
.same6-navbar{
    white-space: wrap;

    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 10px;
    text-align: center;

}

.same6-navbar a {
    color: #ecf0f1;
    text-decoration: none;
    margin: 0 15px;
}

.same6-navbar a.active1{
    border-bottom: 2px solid #586c81; 
    color: #ecf0f1;
}

 .hedsep  {
    border: none;
    width: 50%;
    margin-top: -9px;
    margin: 0 15px;
}
.hedsep2{
    border: none;
    width: 50%;
   
    margin: 0 15px;
}


.separator4 {
    width: 100%;
    max-width: 1500px; 
    max-height: 70px;
    overflow: hidden;
}

.separator5{
    width: 100%;
    max-width: 1500px; 
    max-height: 70px;
    overflow: hidden;

    margin-bottom:150px;
    margin-top:200px;
}

.same6-text-container{
    margin-bottom: 0px;
    margin-top: 60px;;
    margin-bottom:70px;

}

.same6-text-container h2{
    font-size: 33px;
    font-weight:lighter;
    text-align: center;
    
}

.same6-text-container p{
    font-size:21px;
    margin-left:200px;
    margin-right:200px;
  
}

.same6-text{
    font-size:22px;
    margin-left:200px;
    margin-right:200px;

}






.expand-checkbox {
    display: none;
}

.item-label {
    display: block;
    padding: 15px;

    cursor: pointer;
    margin-bottom: 5px;
    margin-left:225px;

    font-size:22px;
    font-weight: bold;
    color: rgb(31, 48, 102);
}

.course-list{
    font-size: 17px;
    margin-left:235px;
    margin-bottom:30px;
}


.semester1{
    font-size:21px;
    font-weight: bold;
    color: rgb(31, 48, 102);

    margin-left:235px;
    margin-top:-4px;
}


.hidden-content {
    display: none;
    padding: 3px;
    border: 1px;
    margin-top: 5px;
    transition: max-height 2s ease-in-out;
   
    max-height: 100%;

    margin-left:130px;

}


.expand-checkbox:checked + .item-label + .hidden-content {
    display:contents;
    max-height: 10000px; 
   
}




.csit-heading{
    font-size:29px;
    margin-left: 190px;
}


.courses-container{
    margin-top:100px;
    margin-bottom:70px;
}

.separator3-6{
    border: 10px solid rgb(225, 232, 250);
    padding: 0;
    margin: 0;
}
.no-bullets1{
    list-style-type: none;
    font-size: 16px; 
}


.eachyear{
    font-weight: italic;
    text-align: left;
    font-size: 19px;
    margin-left:200px;
    margin-bottom:70px;
}

.mini-heading{
    font-size:23.5px;
    font-weight:600;

}

.catal-container{
    margin-top:90px;
    margin-left:250px;
    margin-right:250px;
}

.catal-container h2{
    margin-top:90px;
    color: rgb(31, 48, 102);
    font-size:28px;
}

.catal-container p{
    font-size: 18px;
}

.res-container{
    margin-left: 60px;
    color: rgb(31, 48, 102);
}
.res-container h2{
    font-size:24px;
    font-weight:500;
}
.res-picture{
    width: 100%;
    height: 100%;
    object-fit: cover;

    margin-top:50px;
}

.shor-container{
    margin-left: 60px;
    color: rgb(31, 48, 102);
    
}


.shor-picture{
    width: 50%;
    height: 50%;
    object-fit: cover;

    margin-left:160px;
    margin-right:160px;
    margin-top:50px;
}

.catalshor-container{
    margin-top:20px;
    margin-left:250px;
    margin-right:250px;
}
.catalshor-container h2{
    margin-top:30px;
    color: rgb(31, 48, 102);
    font-size:28px;
}

.catalshor-container p{
    font-size: 18px;
}

.enroll{
    text-decoration:none;
    color:#3498db;
}
.enroll:hover{
   text-decoration: underline;
}


/*Faculty*/


.faculty-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 8px;

    gap:8px;
    margin-top:100px;

    margin-bottom:-180px;

    background-color: rgb(195, 210, 235);
}

.faculty-member {
    position: relative;
    overflow: hidden;
    width: calc(20% - 20px);
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.faculty-member:hover {
    transform: scale(1.1);
}

.faculty-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    box-sizing: border-box;
    transform: translateY(100%);
    transition: transform 0.3s;

    line-height: 1.1;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    
    
}

.faculty-info h2{
font-size:20px;
}

.faculty-info p{
font-size:16px;

}

.faculty-member:hover .faculty-info {
    transform: translateY(0);
}

.faculty-image {
    width: 100%;
    height: auto;
    display: block;

    border-radius: 17px;
}

.backg-container{
    margin: 0; 
}

.meet-lect{
    font-size:40px;
    color:rgb(45, 43, 83);
    background-color:rgb(195, 210, 235);

    margin-bottom: -100px;

    padding:18px;
    padding-left:30px;
    padding-bottom:40px;
}


/*404 page*/
.backg404-container {
    font-family: 'Montserrat', sans-serif;
    background-color: #d2b48c; 
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    text-align: center;

}

.backg404-container h1 {
    font-size: 120px;
    font-weight: bold;
    margin: 0;
}

.backg404-container h2 {
    font-size: 24px;
    margin: 10px 0;
}

.backg404-container p {
    font-size: 18px;
}

.back-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.back-link:hover {
    text-decoration: underline;
}

/*Events page*/
.bullet-events{
    font-size:25px;
    text-align: center;
}

.b-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("loginbackground3.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    
    margin-top:-90px;
    margin-bottom:-180px;
}
.dialog-box{
    background-color: #eaf3f6;
    margin-left: 200px;
    margin-right: 200px;
    height: auto;
   
}
.headings{
    background-color:  #eaf3f6;
    border-radius: 15px;
}

.headings h1{
   
   font-size: 50px;
   padding-top: 80px;
   text-align: center;
}

.aligned {
    display: flex;
    margin-left: 100px;
    margin-top: 50px;
    margin-right: 90px;
    background-color: white;
    border-radius: 7px;
     
}


.aligned p{
    padding-top: 70px;
    padding-left: 25px;
    padding-right: 20px;
    text-align:left;
}
span{
   font-weight: bold;
}

.short1{
    height: 300px;
    width: 350px;
    border-top-left-radius: 7px;
  
    border-bottom-left-radius: 7px;
  
   
}
.short-cyber{
    height: 390px;
    width: 590px;
    border-top-left-radius: 7px;
  
    border-bottom-left-radius: 7px;
}

.short3{
    height: 330px;
    width: 350px;
    border-top-left-radius: 7px;
  
    border-bottom-left-radius: 7px;
  

}

.headings p{
    font-size: 18px;
    padding-top: 40px;
    padding-bottom: 40px;

    text-align: center;
}
.headings-h {
    margin-top: 40px;
}
.news{
    background-color: #eaf3f6;
    padding-top: 140px;
    text-align: center;
    padding-bottom:  110px;
}

.news p{
    padding-top: 30px;
    font-size: 15px;
}
#fname, #email{
    width: 300px;
    height:30px;
    padding-left: 15px;
    border-color: rgba(0, 0, 0, 0.589);
    border-radius: 3px;
}
#e-mail{
    width: 300px;
    height:30px;
    padding-left: 15px;
    border-color: rgba(0, 0, 0, 0.589);
    border-radius: 3px;

  
}
#send{
    height: 37px;
    width: 120px;
    background-color: cornflowerblue;
    border-radius:3px;
    border-color: cornflowerblue;
    color: white;
   

}

/*Contact Us*/
.submit{
    font-family: 'Montserrat', sans-serif;
}

.contact-us{
  
    background-image: url('contactus_tcm127-6317963_tcm127-6286607-32.jpg');
    background-size: cover;
    background-position: center; 
    height: 500px;
    background-repeat: no-repeat;
    text-align: center;
  
}
.contact-us h2{
    color: white;
    padding-top: 240px;
    font-size: 50px;
}
.contact-us p{
    font-weight:600;
}

section {
    padding: 70px;
}
section p{
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: -100px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}
